  <main>
      <header class="container">
        <app-cart-header
          [itemsNumber] = "itemsNumber"
        ></app-cart-header>
      </header>

      <section class="container">
        <ul class="products">
          <app-product-list
            [products] = "products"
            (onUpdateItemsNumber) = "onUpdateItemsNumber($event)"
          ></app-product-list>
        </ul>
      </section>

      <section class="container">
        <div class="promotion">
          <app-promo-code></app-promo-code>
        </div>

        <div class="summary">
          <app-cart-summary
            [subTotal] = "subTotal"
            [tax] = "tax"
            [total] = "total"
          ></app-cart-summary>
        </div>

        <div class="checkout">
          <button type="button">Check Out</button>
        </div>
      </section>
    </main>
